
.trash_log_wrapper {
    display: flex;
    align-items: center;
    justify-content:center;
    border: 1px solid white;
    width: 100%;
}
#org_img {
    width: 200px;
}
#how_you_can_help {
    display: flex;
    justify-content:space-around;
    background-color:white;
    border: 4px solid #13a89e;
    border-radius: 20px;
    width: 100%;
}
.org_list{
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
}
.progress {
    display: flex;
    justify-content:center;
}
.organizations{
    display: flex;
    padding: 20px;
}
h2 {
    display: flex;
    justify-content:center;
}

.logger_title {
    display: flex;
    justify-content:center;
    color: black;
    width: 600px;
}
#main_wrapper{
    height: 100vh;
    justify-content:center;
}

.total_pickups {
    border: 4px solid #13a89e;
    padding: 20px;
    border-radius: 4px;
    min-width: 50%;
    background-color:#FFF89A;
    min-height: 200px;
}
.pickup_title {
    display: flex;
    justify-content: center;
}
.pickup-sum {
    display: flex;
    justify-content: center;
}
.point-total {
    display: flex;
    justify-content:center;
    border: 4px solid #13a89e;
    border-radius: 12px;
    padding: 20px;
    background-color: white;
    min-width: 200px;
    min-height: 50px;
    max-width: 200px;
    max-height: 50px;
}
#points {
    font-size: 18px;
    font-weight: bold;
    color: #13a89e;
}

.modal-card {
    display: flex;
    justify-content:center;
    z-index: 1000;
    border-radius: 20px;
    min-width: 400px;
    min-height: 400px;
    max-width: 600px;
    max-height: 300px;
    position: fixed;
    background-color:white;
    border: 4px solid #13a89e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #13a89e;
}

.modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}